body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-family: "Oswald", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board {
  display: grid;
  justify-content: center;
  align-content: center;

  grid-template-columns: 11vw repeat(9, 8.5vw) 11vw;
  grid-template-rows: 11vh repeat(9, 8.5vh) 11vh;
}

.square {
  margin: 0;
  padding: 0;
  text-align: center;
  border: 1px solid black;
}

.square .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.square .container-bottom {
  flex-direction: column;
}
.square .container-top {
  flex-direction: column;
}

.square .container-left {
  flex-direction: row;
  align-items: center;
}
.square .container-right {
  flex-direction: row;
  align-items: center;
}

.container-bottom .square-color-bar {
  height: 30%;
  border-bottom: 2px solid;
}

.square-name {
  font-size: calc(0.1rem + 0.4vw + 0.5vh);
  line-height: calc(1.1em + 0.5vw);
  flex-grow: 4;
  text-transform: uppercase;
  font-weight: 400;
}

.container-bottom .square-name {
  height: 70%;
}

.container-top .square-name {
  height: 70%;
  order: -1;
}

.container-left .square-name {
  width: 70%;
  order: -1;
}

.container-right .square-name {
  width: 70%;
}

.container-top .square-color-bar {
  height: 30%;
  border-top: 2px solid;
}

.container-left .square-color-bar {
  height: 100%;
  width: 18%;
  border-left: 2px solid;
}

.container-right .square-color-bar {
  height: 100%;
  width: 18%;
  border-right: 2px solid;
}

/* chance */
.square.chance .container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.square.chance .container-top {
  flex-wrap: nowrap;
}
.square.chance .container-bottom {
  flex-wrap: nowrap;
}

.square.chance .blank {
  flex-basis: 10%;
}
.square.chance .icon {
  flex-basis: 70%;
  font-size: calc(0.1rem + 0.4vw + 0.4vh);
}
.square.chance .square-name {
  flex-basis: 20%;
  order: 2;
  font-size: 70%;
}
.square.chance .container-top .square-name {
  order: -2;
}
.square.chance .container-left .square-name {
  order: -2;
  font-size: 70%;
}
.square.chance .container-left .blank {
  order: 5;
}
.square.chance .container-left .icon {
  flex-basis: auto;
}
.square.chance .container-right .square-name {
  order: 2;
  font-size: 70%;
}
.square.chance .container-right .blank {
  order: -5;
}
.square.chance .container-right .icon {
  flex-basis: auto;
}

/* airport */
.square.airport .container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.square.airport .container-top {
  flex-wrap: nowrap;
}
.square.airport .container-bottom {
  flex-wrap: nowrap;
}
.square.airport .blank {
  flex-basis: 10%;
}
.square.airport .icon {
  flex-basis: 70%;
  font-size: calc(0.1rem + 0.5vw + 0.5vh);
}
.square.airport .square-name {
  flex-basis: 20%;
  order: 2;
}
.square.airport .container-top .square-name {
  order: -2;
}
.square.airport .container-left .square-name {
  order: -2;
  font-size: 70%;
}
.square.airport .container-left .blank {
  order: 5;
}
.square.airport .container-left .icon {
  flex-basis: auto;
}
.square.airport .container-right .square-name {
  order: 2;
  font-size: 70%;
}
.square.airport .container-right .blank {
  order: -5;
}
.square.airport .container-right .icon {
  flex-basis: auto;
}

/* utility */
.square.utility .container {
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.square.utility .container-top {
  flex-wrap: nowrap;
}
.square.utility .container-bottom {
  flex-wrap: nowrap;
}
.square.utility .blank {
  flex-basis: 10%;
}
.square.utility .icon {
  flex-basis: 70%;
  font-size: calc(0.1rem + 0.5vw + 0.5vh);
}
.square.utility .square-name {
  flex-basis: 20%;
  order: 2;
}
.square.utility .container-top .square-name {
  order: -2;
}
.square.utility .container-left .square-name {
  order: -2;
}
.square.utility .container-left .blank {
  order: 5;
}
.square.utility .container-left .icon {
  flex-basis: auto;
}
.square.utility .container-right .square-name {
  order: 2;
}
.square.utility .container-right .blank {
  order: -5;
}
.square.utility .container-right .icon {
  flex-basis: auto;
}

.square.jail {
  background-image: url("./images/prisoner.svg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
}

.square.go-to-jail {
  background-image: url("./images/policeman.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.square.central-park .icon {
  flex-basis: 90%;
  background-image: url("./images/central_park.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.square.central-park .square-name {
  flex-basis: 10%;
}

.square.passgo .icon {
  font-size: calc(2rem + 0.5vw + 0.5vh);
}

.dark-purple {
  background: #5e3577;
}

.light-blue {
  background: #d2eaf5;
}

.purple {
  background: #b02f7c;
}

.orange {
  background: #fa811d;
}

.red {
  background: #f50c2b;
}

.yellow {
  background: #ffed20;
}

.green {
  background: #41994e;
}

.dark-blue {
  background: #5a6dba;
}

.island-color {
  background: #365f7b;
}

.board div:nth-child(-n + 11) {
  grid-row: 11;
}

.board div:nth-child(1) {
  grid-column: 11;
}
.board div:nth-child(2) {
  grid-column: 10;
}
.board div:nth-child(3) {
  grid-column: 9;
}
.board div:nth-child(4) {
  grid-column: 8;
}
.board div:nth-child(5) {
  grid-column: 7;
}
.board div:nth-child(6) {
  grid-column: 6;
}
.board div:nth-child(7) {
  grid-column: 5;
}
.board div:nth-child(8) {
  grid-column: 4;
}
.board div:nth-child(9) {
  grid-column: 3;
}
.board div:nth-child(10) {
  grid-column: 2;
}
.board div:nth-child(11) {
  grid-column: 1;
}

/*left*/
.board div:nth-child(12) {
  grid-row: 10;
}
.board div:nth-child(13) {
  grid-row: 9;
}
.board div:nth-child(14) {
  grid-row: 8;
}
.board div:nth-child(15) {
  grid-row: 7;
}
.board div:nth-child(16) {
  grid-row: 6;
}
.board div:nth-child(17) {
  grid-row: 5;
}
.board div:nth-child(18) {
  grid-row: 4;
}
.board div:nth-child(19) {
  grid-row: 3;
}
.board div:nth-child(20) {
  grid-row: 2;
}

/*top*/
.board div:nth-child(21) {
  grid-column: 1;
}
.board div:nth-child(22) {
  grid-column: 2;
}
.board div:nth-child(23) {
  grid-column: 3;
}
.board div:nth-child(24) {
  grid-column: 4;
}
.board div:nth-child(25) {
  grid-column: 5;
}
.board div:nth-child(26) {
  grid-column: 6;
}
.board div:nth-child(27) {
  grid-column: 7;
}
.board div:nth-child(28) {
  grid-column: 8;
}
.board div:nth-child(29) {
  grid-column: 9;
}
.board div:nth-child(30) {
  grid-column: 10;
}
.board div:nth-child(31) {
  grid-column: 11;
}

/*right*/
.board div:nth-child(32) {
  grid-row: 2;
}
.board div:nth-child(33) {
  grid-row: 3;
}
.board div:nth-child(34) {
  grid-row: 4;
}
.board div:nth-child(35) {
  grid-row: 5;
}
.board div:nth-child(36) {
  grid-row: 6;
}
.board div:nth-child(37) {
  grid-row: 7;
}
.board div:nth-child(38) {
  grid-row: 8;
}
.board div:nth-child(39) {
  grid-row: 9;
}
.board div:nth-child(40) {
  grid-row: 10;
}

.center-square {
  background: #eaeaea;
  grid-row-start: 2;
  grid-row-end: 11;
  grid-column-start: 2;
  grid-column-end: 11;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.center-square .center-txt {
  font-weight: 1000;
  width: 100%;
}
